Repository voiio/emark: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, djlint

ruff:
  name: ruff
  language: system
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

black:
  name: black
  language: system
  entry: black

djlint:
  name: djlint
  language: system
  entry: djlint
  args:
  - --reformat
  - --profile
  - django

Fix places
  emark/backends.py
  emark/message.py
  emark/utils.py
  tests/test_backends.py
  tests/test_message.py
  tests/test_views.py
  tests/testapp/settings.py
Due: ruff, black

Introduce pre-commit and ruff
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  linter-requirements.txt
  pyproject.toml
Due: none

Bump Python & Django versions support
  .github/workflows/ci.yml
  pyproject.toml
  setup.cfg
Due: none

Bump Python & Django versions support (#90)
  .github/workflows/ci.yml
  pyproject.toml
  setup.cfg
Due: none

Add a dashboard with email previews
  emark/conf.py
  emark/message.py
  emark/templates/emark/dashboard.html
  emark/templates/emark/preview.html
  emark/urls.py
  emark/utils.py
  emark/views.py
Due: ruff, black, djlint

Apply UTM injection only to http(s) links
  emark/message.py
  tests/test_message.py
  tests/testapp/templates/template.md
Due: ruff, black

Refs #93 -- Revert URL regex and validate URLs separately
  emark/message.py
  tests/test_message.py
  tests/testapp/templates/template.md
Due: ruff, black

Improve code
  emark/message.py
  tests/test_message.py
  tests/testapp/templates/template.md
Due: ruff, black

Add "all caps" case
  emark/message.py
  tests/test_message.py
  tests/testapp/templates/template.md
Due: ruff, black

Fix #97 -- Properly parse domain names in markdown links
  emark/message.py
  emark/utils.py
  pyproject.toml
  tests/test_message.py
  tests/test_utils.py
Due: ruff, black

Set up AppConfig instead of trying to find all subclasses
  emark/apps.py
  emark/conf.py
  emark/templates/emark/preview.html
  emark/utils.py
  emark/views.py
Due: ruff, black, djlint

Introduce emark registry
  emark/apps.py
  emark/registry.py
  emark/templates/emark/dashboard.html
  emark/views.py
Due: ruff, black, djlint

Update emark/utils.py
  emark/utils.py
Due: ruff, black

Fix indentation and logic, update test
  emark/utils.py
  tests/test_utils.py
Due: ruff, black

Fix #97 -- Properly parse domain names in markdown links (#98)
  emark/message.py
  emark/utils.py
  pyproject.toml
  tests/test_message.py
  tests/test_utils.py
Due: ruff, black

Fix #96 -- Override contect manager to lazy open SMTP connections
  emark/backends.py
  tests/test_backends.py
Due: ruff, black

Fix #96 -- Override contect manager to lazy open SMTP connections (#100)
  emark/backends.py
  tests/test_backends.py
Due: ruff, black

Add tracking to all URL in an email, regardless of the domain
  emark/message.py
  emark/utils.py
  pyproject.toml
  tests/test_utils.py
Due: ruff, black

Support redirect on absolute pathes without domain name
  emark/views.py
  tests/test_views.py
Due: ruff, black

Support redirect on absolute pathes without domain name (#105)
  emark/views.py
  tests/test_views.py
Due: ruff, black

Do not track external domains to prevent CWE-601
  emark/message.py
  tests/test_message.py
Due: ruff, black

Do not track external domains to prevent CWE-601 (#107)
  emark/message.py
  tests/test_message.py
Due: ruff, black

Simplify the registry
  emark/registry.py
  emark/templates/emark/dashboard.html
  emark/templates/emark/preview.html
  emark/views.py
Due: ruff, black, djlint

Simplify implementation and add docs
  README.md
  emark/contrib/__init__.py
  emark/contrib/dashboard/__init__.py
  emark/contrib/dashboard/apps.py
  emark/contrib/dashboard/templates/emark/dashboard/dashboard.html
  emark/contrib/dashboard/templates/emark/dashboard/preview.html
  emark/contrib/dashboard/urls.py
  emark/contrib/dashboard/views.py
  emark/registry.py
  emark/templates/emark/dashboard.html
  emark/templates/emark/preview.html
  emark/urls.py
  emark/views.py
  tests/testapp/contrib/__init__.py
  tests/testapp/contrib/dashboard/__init__.py
  tests/testapp/contrib/dashboard/test_views.py
  tests/testapp/settings.py
  tests/testapp/urls.py
Due: ruff, black, djlint

Address review comments
  README.md
  emark/contrib/dashboard/__init__.py
  emark/contrib/dashboard/views.py
Due: ruff, black

Add admin backlink
  README.md
  emark/contrib/dashboard/templates/admin/base_site.html
Due: djlint

Fix test app
  tests/testapp/settings.py
Due: ruff, black

Fix tests
  emark/contrib/dashboard/views.py
  tests/testapp/contrib/dashboard/test_views.py
Due: ruff, black

Add a dashboard with email previews (#92)
  README.md
  emark/contrib/__init__.py
  emark/contrib/dashboard/__init__.py
  emark/contrib/dashboard/apps.py
  emark/contrib/dashboard/templates/admin/base_site.html
  emark/contrib/dashboard/templates/emark/dashboard/dashboard.html
  emark/contrib/dashboard/templates/emark/dashboard/preview.html
  emark/contrib/dashboard/urls.py
  emark/contrib/dashboard/views.py
  emark/message.py
  tests/testapp/contrib/__init__.py
  tests/testapp/contrib/dashboard/__init__.py
  tests/testapp/contrib/dashboard/test_views.py
  tests/testapp/settings.py
  tests/testapp/urls.py
Due: ruff, black, djlint

Make preheader context aware and fix related tests
  emark/message.py
  tests/test_message.py
Due: ruff, black

Make preheader context aware and fix related tests (#110)
  emark/message.py
  tests/test_message.py
Due: ruff, black

Adds support to django 5.1
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Add official support for Django 5.1 (no code change) (#114)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Add official support for Python 3.13
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
